@charset "UTF-8";
body{
	font-family:"Hiragino Kaku Gothic ProN";
}

h1{
	color : #FFD5EA;
}
strong{
	color :pink;
}

table,th,td{
	border : solid 2px  #FFD5EA;
}

.right{
	text-align: right;
}

.total{
	background-color : pink;
}

select{
	border : inset 2px #FFD5EA;
}

input{
	border : inset 2px #FFD5EA;
}

button,.inputButton{
	border-radius : 20px;  
	border : solid 1px  pink;
	background-color : #FFD5EA;

}