<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>まうすかうんたー</title>
</head>
<body>
<h1>まうすかうんたー</h1>
<table border="1">
        <tr>
            <th>日付</th>
            <th>サイズ</th>
            <th>♂</th>
            <th>♀</th>
        </tr>
        <tr th:each="m: ${mouse}">
            <td th:text="${m.date}"></td>
            <td th:text="${m.size}"></td>
            <td th:text="${m.male}"></td>
            <td th:text="${m.female}"></td>
        </tr>
    </table>
<p>離乳したマウスの数を入力するでちゅう</p>
<form method="post" action="/">
	<select name="size">
		<option value="'hopper'">ホッパー</option>
		<option value="'young'">ヤング</option>
		<option value="'adult'">アダルト</option>
	</select>
	<label>
		♂:
		<input type="number" name="male">
	</label>
	<label>
		♀:
		<input type="number" name="female">
	</label>
	<input type="submit" value="送信するでちゅう" />
</form>

</body>
</html>