<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width">
<link th:href="@{/css/albino.css}" rel="stylesheet" >
<title>まうすかうんたー</title>
</head>
<body>
<h1>まうすかうんたー</h1>
<table>
	<tr>
		<th>ID</th>
		<th>日付</th>
		<th>サイズ</th>
		<th>♂</th>
		<th>♀</th>
	</tr>
	<tr th:each="a: ${adult}">
		<td th:text="${a.id}" class="right"></td>
		<td th:text="${a.registration_date}"></td>
		<td th:text="${a.size}"></td>
		<td th:text="${a.male_of_stock}" class="right"></td>
		<td th:text="${a.female_of_stock}" class="right"></td>
	</tr>
		<tr  class="total">
		<td colspan="2" rowspan="4" align="center">合計</td>
		<th>サイズ</th>
		<th>♂</th>
		<th>♀</th>
	</tr>
	<tr th:each="t: ${total}"  class="total">
		<td th:text="${t.size}"></td>
		<td th:text="${t.males_total}" class="right"></td>
		<td th:text="${t.females_total}" class="right"></td>
	</tr>
</table>
<table>
	<tr>
		<th>ID</th>
		<th>日付</th>
		<th>サイズ</th>
		<th>腹数</th>
	</tr>
	<tr th:each="b: ${baby}">
		<td th:text="${b.id}" class="rigtht"></td>
		<td th:text="${b.registration_date}"></td>
		<td th:text="${b.size}"></td>
		<td th:text="${b.litters}" class="right"></td>
	</tr>
		<tr  class="total">
		<td colspan="2" rowspan="4" align="center">合計</td>
		<th>サイズ</th>
		<th>腹数</th>
	</tr>
	<tr th:each="bt: ${babiesTotal}"  class="total">
		<td th:text="${bt.key}"></td>
		<td th:text="${bt.value}" class="right"></td>
	</tr>
</table>
<form method="post" action="/" th:object="${babyMiceEntity}">
	<p>新しく産まれた腹数を入力するでちゅう</p>
	<label>
		ピンク:
		<input type="number" name="litters">
		腹
	</label>
	<button type="submit" name="pinkLitters">送信するでちゅう</button>
	<span th:if="${#fields.hasErrors('litters')}" th:errors="*{litters}" style="color:red">
	</span>
</form>
<br>
<form method="post" action="/">
	<p>離乳したマウスの数を入力するでちゅう</p>
	<select name="size">
		<option value="hopper">ホッパー</option>
		<option value="young">ヤング</option>
		<option value="adult">アダルト</option>
	</select>
	<label>
		♂:
		<input type="number" name="male_of_stock">
	</label>
	<label>
		♀:
		<input type="number" name="female_of_stock">
	</label>
	<input type="submit" name="create" value="送信するでちゅう" class="inputButton">
</form>
<br>
<form method="post" action="/">
<p>IDを指定して書き替えられるでちゅう</p>
	<label>
		ID:
		<input type="number" name="id" required>
	</label>
	<label>
		♂:
		<input type="number" name="male_of_stock">
	</label>
	<label>
		♀:
		<input type="number" name="female_of_stock">
	</label>
	<br>
	<button type="submit" name="update">登録済みデータの変更</button>
	<button type="submit" name="delete">登録済みデータの削除</button>
	<br>
</form>
</body>
</html>